:root {
	--cardgrey: #6161617e;
	--cardhovershadow: rgba(0, 0, 0, 0.692);
	--titlecolor: white;
	--titleshadow: 0px 2px 3px #000000;
	--titlethick: 500;
	--fonts: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	--hovercolor: #40736e;
}

* {
	margin: 0;
	font-family: var(--fonts);
	text-rendering: optimizeLegibility;
}
body {
	background-image: url("../assets/aboutus.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
a {
	text-decoration: none;
	color: inherit;
}

.topbar {
	overflow: hidden;
	background-color: #3d3d3da9;
	padding: 8px 10px;
	transition: 0.3s;
	background-color: rgb(56, 56, 56);
}

.topbar a {
	float: left;
	color: rgb(255, 255, 255);
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;
}

.topbar a.logo {
	font-size: 25px;
	font-family: var(--fonts);
}

.topbar a:hover {
	background-color: #ddd;
	transition: all 0.4s ease-out;
	color: black;
}

.topbar a.active {
	background-color: var(--hovercolor);
	color: white;
}

.topbar-right {
	float: right;
}
.heading {
	display: grid;
	place-items: center;
	padding: 16px;
	font-weight: 350;
	margin: 10px;
	padding: 20px;
	font-size: 35px;
	text-shadow: 0 0 2px inherit;
	font-family: var(--fonts);
	font-size: 350;
	text-align: center;
	backdrop-filter: blur(5px);
}

.bodyparent {
	display: grid;
	place-items: center;
}
.bodymain {
	background-color: rgba(51, 51, 51, 0.7);
	transition: all 0.5s;
	transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
	width: 85%;
}
.bodymain:hover {
	background-color: rgba(51, 51, 51, 0.877);
	transition: all 0.5s;
	transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.imagewrapper {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.mission {
	margin: auto;
	width: clamp(23ch, 70%, 200ch);
}

.image {
	padding: 3rem;
}

.container {
	font-family: var(--fonts);
	color: white;
	text-align: center;
	letter-spacing: 0.19ch;
}
.content {
	margin-top: 2rem;
}

.content > div {
	font-family: var(--fonts);
	font-weight: 350;
	font-size: 20px;
	text-shadow: 0 0 2px inherit;
	color: #ffffff;
	text-align: center;
	padding: 1rem;
}

.bottom {
	text-align: center;
	display: grid;
	place-items: center;
}
.contactwrapper {
	display: grid;
	place-items: left;
	align-items: center;
	grid-template-columns: 10% 90%;
}

.contactwrapper > div {
	padding: 0.6rem;
}

.fa {
	padding-top: 7px;
}

.icon_text {
	color: #ffffff;
	font-size: 100;
	margin: 10px;
	text-align: left;
}
.footer-under {
	background-color: rgb(39, 39, 39);
	padding: 20px 0px;
	min-height: 10px;
	color: #eee;
	position: relative;
	font-weight: 100;
}
.footer-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
	margin-right: 10%;
	margin-left: 10%;
}
@media screen and (max-width: 1190px) {
	.footer-container {
		justify-content: flex-start;
	}
}
.foot-list {
	text-align: left;
	width: auto;
	padding-left: 50px;
}
.foot-list-title {
	font-weight: 400;
	margin-bottom: 10px;
	padding: 0.5em 0;
}
.foot-list-item {
	color: rgba(238, 238, 238, 0.8);
	font-size: 0.8em;
	padding: 0.5em 0;
}
.footer-list-item a {
	text-decoration: none;
}
.footer-list-item a:hover {
	text-decoration: underline;
}
/**********************/

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}
