*{
    font-family: "Open Sans", serif;
    margin:0;
    padding:0;
}
body{
    background-image: url("../assets/spolight.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.form{
    display:flex;
    justify-content: center;
    align-content:center;
    flex-direction: column;
    line-height: 20px;
    margin:auto;
}

.formbox{
    display:flex;
    background-color:#e7e7e7;
    margin-left:40%;
    margin-right:40%;
    margin-top:10%;
    padding:15px;
    border-radius:10px;
    
}

.profilepicture{
    max-width:30%;
    margin:auto
}

.loginbutton{
    border-style: solid;
    border-width: 3px;
    border-color: black;
    text-decoration: none;
    color:rgb(0, 17, 31);
    text-align: center;
    flex-grow: 0.1;
    transition:background-color 0.3s;
}
.registerbutton{
    border-style: solid;
    border-width: 2px;
    color:rgb(4, 16, 26);
    text-decoration: none;
    text-align: center;
    flex-grow: 0.1;
}
.buttons{
    display:flex;
    justify-content:center;
    justify-content: space-around;
    flex-direction: column;  
    text-align:center;
}
.buttons a:hover{
    background-color:black;
    color:white;
    transition:0.3s;
}
.topbar{
    font-size: 25px;
    background-color:rgba(0,0,0,0.6);
    color:white;
    text-rendering:optimizeLegibility;
    margin:0px;
    text-align:center;
    line-height: 60px;
    transition: background-color 0.3s;
}
.topbar :hover{
    background-color: rgba(0,0,0,1);
    transition:0.3s;
}
.radio{
    flex-direction: row;
}
.registerformbox{
    display:flex;
    background-color:#e7e7e7;
    margin-left:40%;
    margin-right:40%;
    margin-top:0.3%;
    padding:15px;
    border-radius:10px;
}
.alumnicrm{
	color: #ffffff;
	font-family: "Open Sans";
    font-weight: 200;
    float:left;
    position:relative;
    left:2%;
}
.clock{
    float: right;
    font-weight:200; 
    font-size:17px;
    position: relative;
    right: 2%;
}
.welcometoalumni{
    position: relative;
    right:2.5%;
}
