* {
	margin: 0;
}
body {
	background-image: url("/Sun-U_morning.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
a {
	text-decoration: none;
	color: inherit;
}
.viewport {
	display: flex;
	position: relative;
}
.viewport .sidebar {
	width: 200px;
	height: 100%;
	background-color: rgb(31, 31, 31, 0.9);
	padding: 30px 0px;
	position: fixed;
}

.viewport .sidebar h2 {
	color: #fff;
	text-align: center;
	margin-bottom: 50px;
	font-style: oblique;
	font-family: "Open Sans";
}

.viewport .sidebar a {
	padding: 10px 8px 8px 30px;
	text-decoration: none;
	color: #ffffff;
	display: block;
	margin-bottom: 10px;
	font-family: "Open Sans";
}
.viewport .sidebar a:hover {
	background-color: azure;
	transition: background-color 0.2s;
	color: black;
}

.viewport .main_content {
	width: 100%;
	height: 100vh;
	margin-left: 200px;
}

.viewport .main_content .header {
	padding: 20px;
	background-color: rgba(51, 51, 51, 0.7);
	color: #717171;
}

.viewport .main_content .header span {
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	font-size: 17px;
	font-family: "Open Sans";
	font-weight: 200;
}
.flex-container {
	margin-left: 10%;
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
	padding: 50px;
}
.flex-container > div {
	font-family: "Open Sans", serif;
	font-weight: 350;
	margin: 10px;
	padding: 20px;
	font-size: 30px;
	text-shadow: 0 0 2px inherit;
	color: rgb(0, 0, 0);
}

.homeflex-container {
	margin-left: 50px;
	margin-right: 50px;
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
	padding: 50px;
}
.homeflex-container > a {
	font-family: "Open Sans", serif;
	font-weight: 350;
	margin: 10px;
	padding: 70px 100px;
	font-size: 30px;
	text-shadow: 0 0 2px inherit;
	color: rgb(0, 0, 0);
}
.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background-color: rgba(0, 0, 0, 0.4);
	transition: 0.3s;
}
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	background-color: rgba(0, 0, 0);
}
.container {
	color: white;
}
