:root {
	--fonts : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
* {
	margin: 0;
	font-family: var(--fonts);
}

body {
    background-image: url("../image/spolight.png");
    opacity: 1.0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
a {
	text-decoration: none;
	color: inherit;
}
.avatar {
	max-width:60%;
}
.table{
	display:flex;
	margin-left:13%;
	text-align: center;
	vertical-align: middle;
	color:white;
	border-spacing:20px;
	margin-top:8%;
	font-size:30px;
	margin-right:17%;
}


.tablerow{
	background-color: rgb(20, 20, 20);
	
}

.topbar{
    font-size: 25px;
    background-color:rgba(0,0,0,0.6);
    color:white;
    text-rendering:optimizeLegibility;
    margin:0px;
    text-align:center;
    line-height: 60px;
    transition: background-color 0.3s;
}
.topbar :hover{
    background-color: rgba(0,0,0,1);
    transition:0.3s;
}
.alumnicrm{
	color: #ffffff;
	font-family: "Open Sans";
    font-weight: 200;
    float:left;
    position:relative;
    left:2%;
}
.welcometoalumni{
    position: relative;
    right:2.5%;
}
.clock{
    float: right;
    font-weight:200; 
    font-size:17px;
    position: relative;
	right: 2%;
}