:root {
	--cardgrey: #6161617e;
	--cardhovershadow: rgba(0, 0, 0, 0.692);
	--titlecolor: white;
	--titleshadow: 0px 2px 3px #000000;
	--titlethick: 500;
	--fonts: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	--hovercolor: #40736e;
}
* {
	margin: 0;
	font-family: var(--fonts);
	text-rendering: optimizeLegibility;
}

body {
	background-image: url("../image/spolight.png");
	opacity: 1;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
a {
	text-decoration: none;
	color: inherit;
}
.avatar {
	max-width: 60%;
}
.table {
	display: flex;
	margin-left: 13%;
	text-align: center;
	vertical-align: middle;
	color: white;
	border-spacing: 20px;
	margin-top: 8%;
	font-size: 30px;
	margin-right: 17%;
}

.tablerow {
	background-color: rgb(20, 20, 20);
}
.topbar {
	overflow: hidden;
	background-color: #3d3d3da9;
	padding: 20px 10px;
	transition: 0.3s;
}

.topbar a {
	/* font-size: 25px;
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	text-rendering: optimizeLegibility;
	margin: 0px;
	text-align: center;
	line-height: 60px;
	transition: background-color 0.3s; */
	float: left;
	color: rgb(255, 255, 255);
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;
}

.topbar a.logo {
	font-size: 25px;
	font-family: var(--fonts);
}

.topbar a:hover {
	background-color: #ddd;
	transition: all 0.4s ease-out;
	color: black;
}

.topbar a.active {
	background-color: var(--hovercolor);
	color: white;
}

.topbar-right {
	float: right;
}
.topbar:hover {
	background-color: rgb(56, 56, 56);
	transition: 0.3s;
}
.intro-container {
	position: relative;
	text-align: center;
	color: white;
	height: 500px;
}
.center-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: var(--fonts);
	font-size: 1.7em;
}

.information-container {
	-webkit-backdrop-filter: blur(7px);
	backdrop-filter: blur(7px);
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 400px;
    padding: 60px;
}
.information-container > div {
	color: white;
    max-width: 1000px;
    text-align: left;
}
/***footer*/
.footer-under {
	background-color: rgb(39, 39, 39);
    padding: 40px 0px;
	min-height: 10px;
	color: #eee;
	position: relative;
	font-weight: 100;
}
.footer-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
	margin-right: 10%;
	margin-left: 10%;
}
@media screen and (max-width: 950px) {
	.footer-container {
		justify-content: flex-start;
	}
}
.foot-list {
	text-align: left;
	width: auto;
	padding-left: 50px;
}
.foot-list-title {
	font-weight: 400;
	margin-bottom: 10px;
	padding: 0.5em 0;
}
.foot-list-item {
	color: rgba(238, 238, 238, 0.8);
	font-size: 0.8em;
	padding: 0.5em 0;
}
.footer-list-item a {
	text-decoration: none;
}
.footer-list-item a:hover {
	text-decoration: underline;
}
/**********************/

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}