.flex-container {
	margin-left: 10%;
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
	padding: 50px;
}
.flex-container > div {
	font-family: "Open Sans", serif;
	font-weight: 350;
	margin: 10px;
	padding: 20px;
	font-size: 30px;
	text-shadow: 0 0 2px inherit;
	color: #ffffff;
}

.homeflex-container {
	margin-left: 50px;
	margin-right: 50px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 50px;
}
.homeflex-container > a {
	font-family: "Open Sans", serif;
	font-weight: 350;
	margin: 10px;
	padding: 70px 100px;
	font-size: 30px;
	text-shadow: 0 0 2px inherit;
	color: rgb(0, 0, 0);
	text-align: center;
	max-width: 500px;
	min-width: 500px;
}
.information-flexbox {
	margin-left: 25px;
	margin-right: 25px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 50px;
}
.information-flexbox > div {
	font-family: "Open Sans", serif;
	font-weight: 350;
	margin: 10px;
	padding: 70px 100px;
	font-size: 30px;
	text-shadow: 0 0 2px inherit;
	color: rgb(255, 255, 255);
	text-align: center;
	max-width: 1000px;
	min-width: 1000px;
}
.messagebox {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background-color: rgba(80, 80, 80, 0.726);
	transition: 0.3s;
	border: 2px solid black;
	border-radius: 8px;
}

.messagebox:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.767);
}
.messagetitle {
	text-align: left;
	margin-bottom: 10px;
	font-size: 1.5em;
}
.message {
	text-align: left;
	margin-bottom: 10px;
	font-size: 0.7em;
}
.messagefooter {
	text-align: right;
	font-size: 0.5em;
}

button {
	background-color: rgba(255, 255, 255, 0.541);
	padding: 10px 25px;
	border-radius: 8px;
	font-size: 1.2em;
	border: 2px solid black;
}

button:hover {
	background-color: rgba(55, 182, 255, 0.753);
	transition: 0.5s ease;
}
.container {
	color: white;
}

.card:hover {
	background-color: rgba(0, 0, 0, 0.719);
}

@media only screen and (max-width: 1500px) {
	.information-flexbox > div {
		max-width: 500px;
		min-width: 500px;
	}
}
