:root {
	--cardgrey : #6161617e;
	--cardhovershadow : rgba(0, 0, 0, 0.692);
	--titlecolor : white;
	--titleshadow : 0px 2px 3px #000000;
	--titlethick : 500;
	--fonts : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*{
    font-family: var(--fonts)
}
.table{
    display:flex;
}
.tabletitle{
    display:flex;
    flex-direction: column;
    border:5px;
    justify-content:space-between;
    background-color: white;
    min-width: 120px;
    text-align:center;
    border:solid;
    border-color:black;
    border-width:1px;
}

